* {
    margin: 0;
    font-family: 'Work Sans';
}

body {
    /* margin: 0 230px; */
}



.header {
    background-image: url(../images/banner/banner2.png);
    /* width: 1300px; */
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 130px;



}


/* --------------------Banner Style------------------- */
.banner {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* justify-items: center; */
    align-items: flex-end;
    width: 525px;
    padding-right: 150px;
}

.banner-title {
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    margin-bottom: 24px;

}

.banner-text {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    margin-bottom: 32px;


}

.btn-primary {
    font-weight: 700;
    font-size: 20px;
    /* line-height: 27px; */
    color: #FFFFFF;
    /* padding: 18px 35px;
    height: 64px; */
    /* width: 150px; */
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    width: 160px;
    height: 64px;
}

/*-----------------------------My Failures--------------------- */
.failure {
    display: flex;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    /* margin-bottom: 130px; */
    justify-content: space-evenly;
    text-align: justify;
    /* justify-items: flex-end; */
}

.bg-img-person{
    width: 450px;
    margin-right: 70px;
/* height: 500px; */
}

.failure-text {
    /* margin-right: auto; */
    width: 416px;
}


.failure-title {

    margin-bottom: 24px;
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    width: 288px;
}

.failure-description {
    margin-bottom: 16px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    text-align: left;

}

.failure-tick-description {
    margin-bottom: 8px;


}
.tick{
    margin-bottom: 10px;
}

/* ----------------------My plans style-------------------- */
.section-title {
    color: #151414;
    font-weight: 179px;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;



}

.my-plans {
    margin-top: 130px;

    /* display: flex; */
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 125px;

}

.plans {
    /* justify-content: center;
    justify-items: center; */
    align-items: center;
    text-align: center;

}

.plans-container {
    display: flex;
    justify-content: space-between;
    justify-items: flex-end;
    gap: 24px;
}

.plans-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    
    /* width: 218px; */

}

.plans-description {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}

/* <!-------------------------Gradient Part style------------------ --> */
/* .gradient{

} */
.inner-gradient{
    position: absolute;
    top: 60px;
    left: 160px;
}
.gradient-img {
    position: relative;
    top: 0;
    left: 0;

}

.img1 {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 100px;
}

.img2 {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 100px;

}

.gradient-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 25px;

}

.btn-gradient {

    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    border: 0;


}





/*--------------------------- contact form styles------------------------ */
.contact {
    margin-top: 130px;

    display: flex;
    justify-content: space-evenly;
    /* width: 1600px;
    height: 577px; */
    height: 100vh;

    background: #151414;
}
.contact-sub-box{
    width: 485px;
}

.contact .section-title {
    text-align: left;
    color: #F8F8F8;
    margin-top: 130px;
    padding-left: 100px;
    margin-bottom: 16px;


}


input {
    height: 64px;
}

.contact {
    text-decoration: none;
}

.para-1 {
    color: #FFFFFF;
    padding-left: 100px;
    margin-bottom: 24px;
}

.para-2 {
    color: #FFFFFF;
    padding-left: 100px;
    margin-bottom: 16px;
}

.para-3 {
    color: #FFFFFF;
    padding-left: 100px;
    margin-bottom: 16px;
}

.icons {
    padding-left: 100px;
    margin-right: 18px;
}

.subscribe-title {
    text-align: left;
    color: #F8F8F8;
    margin-top: 130px;
    margin-right: 400px;
    /* padding-left: 100px; */
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 25px;
}

.btn-sub {
    color: #F15B22;
    font-weight: 600;
    font-size: 16px;
    width: 130px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 20px;

}
.sub-box{
    width: 325px;
}
.input-box{
    width: 325px;
    color: #F8F8F8;
    background-color: #151414;
    border-radius: #F8F8F8;

}